################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/0x00-challenge/4-delete_dnodeint/.vs
/0x00-challenge/4-delete_dnodeint/FixMyCodeChallenge_DeleteNode
